.footer-container {
  width: 95%; /* Footer spans 95% of the width */
  height: 4rem;
  border-top: 0.1px solid black;
  margin: 0 auto; /* Center the footer horizontally */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the elements */
}

.footer-logo {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain; /* Ensure the logo fits nicely */
}

.footer-right {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem; /* Space between the name and LinkedIn logo */
}

.name {
  width: 50%;
  font-size: 0.68rem;
  color: black;
  font-weight: 400;
  line-height: 0.9rem;
}

.footer-linkedin-logo {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 0.4rem;
}