.footer-container {
  width: 95%; 
  height: 4rem;
  position: relative;
  border-top: 0.1px solid black;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.footer-logo {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain; 
}

.footer-right {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem; 
}

.footer-name {
  width: 5rem;
  font-size: 0.68rem;
  color: black;
  font-weight: 400;
  line-height: 0.9rem;
}

.footer-linkedin-logo {
  width: 1.8rem;
  height: 1.8rem;
  padding-top: 0.4rem;
}

.footer-email-icon {
  margin-right: 0.3rem;
}

@media (max-width: 480px) {

  .footer-container {
    /* display: none; */
  }

  .footer-right {
    gap: 0.6rem;
  }

  .footer-email {
    margin-right: 0.5rem;
  }

}