@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar {
  font-family: Inter, sans-serif; 
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  height: 4rem;
  background-color: #FAFAE5;
  color: #6c6c6c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; 
  box-sizing: border-box; /* Ensure padding is included in width */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* border-bottom: 0.5px solid black; */
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.navbar.blue{
  background-color: #7FA1BA;
  color: white;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: center;
}

.navbar-right {
  gap: 2rem;
  padding: 0.3rem 1.5rem;
  border: 0.1px solid lightgrey;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); 
  color: inherit; /* This will now work properly */
}

.logo-image {
  width: 2.2rem;
  height: 2.2rem; 
  /* padding-top: 0.4rem; */
}

.navbar-link {
  text-decoration: none;
  color: inherit; /* Will now work properly */
  transition: color 0.3s;
  position: relative; /* Enable positioning for the hover effect */
}

.navbar-link:hover {
  color: #aaa;
}

.navbar-link:hover::before {
  content: ""; /* Add a pseudo-element for the hover effect */
  position: absolute;
  top: -0.3rem;
  left: -0.9rem;
  right: -0.9rem;
  bottom: -0.3rem;
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 0.5rem; 
  z-index: -1; /* Place it behind the text */
}

.beta-box {
  background-color: transparent; 
  color: #333;
  padding: 0.3rem 0.8rem;
  border: 2px solid black; 
  border-radius: 1rem;
  font-size: 0.95rem;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.beta-box:hover {
  animation: gentle-pulse 3s ease-in-out infinite;
}

@keyframes gentle-pulse {
  0%, 100% { 
    transform: scale(1);
    opacity: 1;
  }
  50% { 
    transform: scale(1.05);
    opacity: 0.9;
  }
}